In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\carlo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd

In [18]:
df = pd.read_csv("data/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [20]:
#funcion estadística que nos ayuda analizar las columnas numericas 
#Q3 = 6
#Q2 = 3
#Q1 = 1
#Entre Q3 y Q1 = 5
# 5 + Q3 = 11 -> valores por encima de 11 son considerados outliers
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [24]:
# Primer filtro cuando hay mas de 11 embarazos
filtro_1 = df["Pregnancies"]>=11
df_2=df[filtro_1]
df_2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
24,11,143,94,33,146,36.6,0.254,51,1
28,13,145,82,19,110,22.2,0.245,57,0
36,11,138,76,0,0,33.2,0.420,35,0
72,13,126,90,0,0,43.4,0.583,42,1
86,13,106,72,54,0,36.6,0.178,45,0

In [26]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 24 to 745
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               34 non-null     int64
 1   Glucose                   34 non-null     int64
 2   BloodPressure             34 non-null     int64
 3   SkinThickness             34 non-null     int64
 4   Insulin                   34 non-null     int64
 5   BMI                       34 non-null     float64
 6   DiabetesPedigreeFunction  34 non-null     float64
 7   Age                       34 non-null     int64
 8   Outcome                   34 non-null     int64
dtypes: float64(2), int64(7)
memory usage: 2.7 KB

In [27]:
# Observamos que la insulina tiene valores extraños
df_2.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,12.323529,124.764706,74.205882,23.058824,71.176471,35.691176,0.469824,45.176471,0.588235
std,1.342106,25.601916,21.969372,17.105628,92.567574,6.858146,0.308713,6.244855,0.499554
min,11.000000,76.000000,0.000000,0.000000,0.000000,22.200000,0.126000,35.000000,0.000000
25%,11.000000,104.500000,70.500000,0.000000,0.000000,30.375000,0.246500,41.250000,0.000000
50%,12.000000,128.000000,76.000000,30.000000,0.000000,36.350000,0.395000,44.000000,1.000000
75%,13.000000,142.250000,84.000000,36.500000,137.500000,40.425000,0.581750,48.000000,1.000000
max,17.000000,175.000000,114.000000,54.000000,325.000000,52.300000,1.353000,62.000000,1.000000

In [28]:
#Eliminamos insulima de este dataset, se pudo haber dañado
del df_2["Insulin"]
df_2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
24,11,143,94,33,36.6,0.254,51,1
28,13,145,82,19,22.2,0.245,57,0
36,11,138,76,0,33.2,0.420,35,0
72,13,126,90,0,43.4,0.583,42,1
86,13,106,72,54,36.6,0.178,45,0

In [29]:
# guardamos este dataset en un excel
df_2.to_excel("dataframe_2_pregnancies.xlsx", index=False)

In [31]:
# Se observó en el excel que hay valores demasiados extraños en la columna DiabetesPedigreeFunction

filtro_2 = df["BloodPressure"] == 0
df_3 = df[filtro_2]
df_3.head()
# Al parecer estos valores tienen muchos problemas(ceros)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0,0,0,35.3,0.134,29,0
15,7,100,0,0,0,30.0,0.484,32,1
49,7,105,0,0,0,0.0,0.305,24,0
60,2,84,0,0,0,0.0,0.304,21,0
78,0,131,0,0,0,43.2,0.270,26,1

In [33]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 7 to 706
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               35 non-null     int64
 1   Glucose                   35 non-null     int64
 2   BloodPressure             35 non-null     int64
 3   SkinThickness             35 non-null     int64
 4   Insulin                   35 non-null     int64
 5   BMI                       35 non-null     float64
 6   DiabetesPedigreeFunction  35 non-null     float64
 7   Age                       35 non-null     int64
 8   Outcome                   35 non-null     int64
dtypes: float64(2), int64(7)
memory usage: 2.7 KB

In [34]:
df_3.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,35.000000,35.000000,35.0,35.000000,35.0,35.000000,35.000000,35.000000,35.000000
mean,3.628571,117.800000,0.0,1.514286,0.0,25.705714,0.388429,30.714286,0.457143
std,3.646801,27.488821,0.0,6.298326,0.0,14.874553,0.254266,9.820661,0.505433
min,0.000000,73.000000,0.0,0.000000,0.0,0.000000,0.102000,21.000000,0.000000
25%,0.000000,97.500000,0.0,0.000000,0.0,21.650000,0.197500,24.500000,0.000000
50%,2.000000,117.000000,0.0,0.000000,0.0,28.900000,0.282000,28.000000,0.000000
75%,6.000000,133.500000,0.0,0.000000,0.0,34.550000,0.573500,34.000000,1.000000
max,13.000000,183.000000,0.0,30.000000,0.0,52.300000,0.933000,72.000000,1.000000

In [35]:
# Observamos que la media de insulin es 0 y toda DiabetesPedigreeFunction es cero 
# entonces eliminamos esas columas 

df_3.drop(columns=["Insulin","DiabetesPedigreeFunction"], inplace=True)
df_3.head()

C:\Users\carlo\AppData\Local\Temp\ipykernel_17880\4046138859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3.drop(columns=["Insulin","DiabetesPedigreeFunction"], inplace=True)

    Pregnancies  Glucose  BloodPressure  SkinThickness   BMI  Age  Outcome
7            10      115              0              0  35.3   29        0
15            7      100              0              0  30.0   32        1
49            7      105              0              0   0.0   24        0
60            2       84              0              0   0.0   21        0
78            0      131              0              0  43.2   26        1

## SkinThickness, observamos que tiene ceros pero no podemos eliminar por que tiene media

In [36]:
# Guardamos nuestro excel 
df_3.to_excel("dataframe_3_bloodpressure.xlsx", index=False)

In [39]:
# Se encontró en nuestro registro que en BMI existen comportamientos de personas super obesas
filtro_3 = df["BMI"]>=50
df_4 = df[filtro_3]
df_4.head(9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
120,0,162,76,56,100,53.2,0.759,25,1
125,1,88,30,42,99,55.0,0.496,26,1
155,7,152,88,44,0,50.0,0.337,36,1
177,0,129,110,46,130,67.1,0.319,26,1
193,11,135,0,0,0,52.3,0.578,40,1
247,0,165,90,33,680,52.3,0.427,23,0
303,5,115,98,0,0,52.9,0.209,28,1
445,0,180,78,63,14,59.4,2.420,25,1
673,3,123,100,35,240,57.3,0.880,22,0

In [38]:
df_4.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,3.000000,138.777778,74.444444,35.444444,140.333333,55.500000,0.713889,27.888889,0.777778
std,3.937004,28.730549,36.107863,22.159147,217.846276,5.196634,0.674684,6.071335,0.440959
min,0.000000,88.000000,0.000000,0.000000,0.000000,50.000000,0.209000,22.000000,0.000000
25%,0.000000,123.000000,76.000000,33.000000,0.000000,52.300000,0.337000,25.000000,1.000000
50%,1.000000,135.000000,88.000000,42.000000,99.000000,53.200000,0.496000,26.000000,1.000000
75%,5.000000,162.000000,98.000000,46.000000,130.000000,57.300000,0.759000,28.000000,1.000000
max,11.000000,180.000000,110.000000,63.000000,680.000000,67.100000,2.420000,40.000000,1.000000

# Observaciones

- Todas las personas que son obesas no tienen diabetes
- la media de edad son de 27 años
- El promedio de BMI son super obesas 
- En este grupo no hay nada que borrar, todas las columnas + o - normales

In [41]:
df_4.to_excel("dataframe_4_bmi.xlsx",index=False)